@font-face{font-family:'Graphik';src:url(../fonts/Graphik-Light.woff2) format("woff2"),url(../fonts/Graphik-Light.woff) format("woff"),url(../fonts/Graphik-Light.ttf) format("truetype"),url(../fonts/Graphik-Light.svg#Graphik-Light) format("svg");font-weight:300;font-style:normal;font-display:swap}
@font-face{font-family:'Graphik';src:url(../fonts/Graphik-Regular.woff2) format("woff2"),url(../fonts/Graphik-Regular.woff) format("woff"),url(../fonts/Graphik-Regular.ttf) format("truetype"),url(../fonts/Graphik-Regular.svg#Graphik-Regular) format("svg");font-weight:400;font-style:normal;font-display:swap}
@font-face{font-family:'Graphik';src:url(../fonts/Graphik-Medium.woff2) format("woff2"),url(../fonts/Graphik-Medium.woff) format("woff"),url(../fonts/Graphik-Medium.ttf) format("truetype"),url(../fonts/Graphik-Medium.svg#Graphik-Semibold) format("svg");font-weight:500;font-style:normal;font-display:swap}
@font-face{font-family:'Graphik';src:url(../fonts/Graphik-Bold.woff2) format("woff2"),url(../fonts/Graphik-Bold.woff) format("woff"),url(../fonts/Graphik-Bold.ttf) format("truetype"),url(../fonts/Graphik-Bold.svg#Graphik-Bold) format("svg");font-weight:700;font-style:normal;font-display:swap}
*,:after,:before{box-sizing:border-box}
hr{border:0;border-top:1px solid #e2e2e2}
.clearfix{display:block;width:100%}
.clearfix:before,.clearfix:after{content:" ";display:table}
.clearfix:after{clear:both}
a{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;color:#1A0DAB;text-decoration:none}
a:focus{text-decoration:none}
a:hover{opacity:1;text-decoration:none}
b{font-weight:400}
p{margin:0 0 10px;padding:0}
p em,p i{font-style:italic}
p u{text-decoration:underline}
h1,h2,h3,h4{margin:0 0 10px;line-height:normal;font-weight:400}
h1{font-size:26px;font-weight:700;line-height:36px}
h3{font-size:16px}
h4{font-size:14px}
article h1{font-size:2em}
article h2{font-size:1.5em}
article h3{font-size:1.17em}
article h4{font-size:1em}
article h5{font-size:.83em}
article h6{font-size:.75em}
article p{line-height:1.5;margin:0 0 1em}
article .indent p{margin:0}
article .indent p + p{text-indent:2em}
article p{word-break:keep-all;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}
article a:visited{text-decoration:underline}
article a:hover{text-decoration:none}
article blockquote{font-style:italic}
article blockquote:before{content:"\201C";display:inline-block;padding-right:.4em}
article li ul,article li ol{margin:0 1.5em}
article ul,article ol{margin:0}
article ul{list-style-type:disc}
article ol{list-style-type:decimal}
article ol ol{list-style:upper-alpha}
article ol ol ol{list-style:lower-roman}
article ol ol ol ol{list-style:lower-alpha}
article li{margin-bottom:10px}
ul{padding:0;margin:0}
label,.label{font-weight:normala}
.text-capital{text-transform:uppercase}
.mt-8{margin-top:8px}
.pt-0:not(.ad){padding-top:0}
html,body,#root{font-size:14px;line-height:20px;margin:0;color:#222F3E;text-renderings:optimizeLegibility}
#root{-webkit-font-smoothing:antialiased;font-family:'Graphik'}
html,body{height:100%}
hr{margin:20px 15px}
@media (max-width: 767px) {
hr{margin:10px 0}
}
.hidden{display:none !important}
a:focus,a:hover{outline:none;color:#5315FF}
article p{line-height:30px}
.btn{display:inline-block;line-height:38px;border:none;border-radius:4px;background:#5E5083;font-weight:400;text-align:center;color:#fff;padding:0 16px;cursor:pointer;transition:all .5s;font-size:14px}
.btn:not(select-control){min-width:100px}
.btn:hover,.btn:focus{background:#72619d;color:#fff}
.btn.loading{background:#B4B4B4!important;border-color:#B4B4B4;pointer-events:none;box-shadow:none!important}
.btn.select-control{box-shadow:none}
a.btn-transparent.btn{background:none!important;border:none;color:#777;padding:0;margin:0 8px;font-weight:400;:n:not(.button):not(.button)ot(.button)}
a.btn-transparent.btn:hover{color:#333}
a.btn-transparent.btn.btn-left{min-width:0;float:left;color:#D74022;margin:0}
a.btn-transparent.btn.btn-left:hover{opacity:.5}
a.btn.btn-white{background:#fff;border:1px solid #e2e2e2;color:#1D1633;font-weight:400}
a.btn.btn-small{line-height: 30px;}
.btn-google img{margin-right:10px;position:relative;top:-2px}
a.btn.btn-white:hover{background:#f9f9f9;color:#777}
img{max-width:100%}
.add_link{font-size:12px;line-height:20px;color:#0389FF;display:inline-block;position:relative;padding-left:20px;cursor:pointer}
.add_link::before,.add_link::after{content:"";position:absolute;top:50%;left:0;width:16px;height:1px;background:#0389FF}
.add_link::after{transform:rotate(-90deg)}
.add_link:hover{text-decoration:none;color:#72619d}
.add_link:hover::before,.add_link:hover::after{background:#72619d}
.btn-add.btn{background:#FFF;border:1px solid #C8D6E5;box-shadow:0 1px 0 #C8D6E5;border-radius:4px;padding-left:32px;padding-right:16px;color:#222F3E;position:relative;min-width:0}
.btn-add::before,.btn-add::after{content:"";position:absolute;top:50%;left:8px;width:16px;height:1px;border-top:1px solid}
.btn-add::after{transform:rotate(-90deg)}
.btn-add.btn:hover{border-color:#999;background:#f9f9f9}
::-webkit-scrollbar{width:8px}
::-webkit-scrollbar-track{border-radius:10px}
::-webkit-scrollbar-thumb{border-radius:10px;background:#5E5083}
.page-loading{width:100%;height:100%;display:flex;align-items:center;justify-content:center}
.not-found{display:flex;height:100vh; align-items: center;justify-content: center;}
.not-found .wrap{background:none;border:none;text-align:center;width:auto;color:#777}
.not-found img{margin:0 0 20px}
.mb-24{margin-bottom: 24px;}
.form-control{border-color:#C8D6E5!important;border-radius:4px;box-shadow:none!important;height:40px;font-size:14px}
.form-control.error,.form-control.format-error{border:1px solid #f8b4b4!important}
.form-group{margin:0 0 20px}
.form-group.mb-8{margin-bottom:8px}
.form-group.mb-16{margin-bottom:16px}
.form-group.group label{font-weight: 500;}
.form-group.group .form-control:not(:last-child),.form-group.group .ant-select-single:not(.ant-select-customize-input):not(:last-child) .ant-select-selector{border-bottom-right-radius:0;border-bottom-left-radius:0}
.form-group.group .form-control:not(:nth-child(2)),.form-group.group .ant-select-single:not(.ant-select-customize-input):not(:nth-child(2)) .ant-select-selector{border-top-left-radius:0;border-top-right-radius:0;border-top:none}
.form-action{text-align:right}
.form-control.w72{width:72px}
.input-calendar{display:inline-block;width:168px}
::-webkit-input-placeholder{color:#8395A7}
:-ms-input-placeholder{color:#8395A7}
::placeholder{color:#8395A7}
.radio{display:block;position:relative;cursor:pointer;margin:0}
.radio div{padding:8px 8px 8px 28px}
.radio div:before,.radio div:after{content:"";position:absolute;background:#FFF;border:1px solid #C8D6E5;width:12px;height:12px;border-radius:50%;left:8px;top:12px;box-sizing:border-box}
.radio div:after{width:6px;height:6px;top:8px;left:12px;box-sizing:border-box;box-shadow:0 1px 2px rgba(0,0,0,0.25);top:15px;left:11px;display:none}
.radio input{position:absolute;width:0;height:0;top:0;visibility:hidden;overflow:hidden}
.radio input:checked + div::before{background:#0389FF}
.radio input:checked + div::after{display:block}
.dropdown{color:inherit}
.dropdown-toggle{color:#222F3E!important;cursor:pointer;display:inline-block}
.dropdown-toggle::after{width:14px;height:14px;border:none;position:absolute;top:5px;right:8px;background:url(../images/down.svg) center no-repeat;background-size:cover}
.uploader{width:344px;max-width:100%;height:168px;background:#FFF;border:1px dashed #C8D6E5;border-radius:4px;position:relative;display:flex;align-items:center;justify-content:center;padding:5.66%;text-align:center}
.uploader input{position:absolute;width:0;height:0;top:0;visibility:hidden;overflow:hidden}
.uploader_placeholder span{display:inline;margin:0;color:#0389FF;cursor:pointer}
.uploader_img{position:absolute;top:10%;left:10%;width:80%;height:80%;background-position:center;background-color:#fff;background-size:contain;background-repeat:no-repeat}
.uploader-clear{position:absolute;top:8px;right:8px;cursor:pointer}
.uploader-clear:hover{transform:scale(1.2)}
.uploader-error {margin-top: 8px;display: inline-block;}
.input-group .form-control{margin:0!important}
.input-group-text{background:none}
.modal.fade.show{opacity:1}
.input-group>.custom-select:not(:last-child),.input-group>.form-control:not(:last-child){border-right:none}
.errorMsg {
    font-size: 12px;
    line-height: 1.5;
    padding: 4px 8px;
    background: #f6adad;
    color: #5a0505;
}
.errorMsg:last-child{
    border-radius: 0 0 4px 4px;
}
.rs-picker-menu .rs-picker-search-bar{padding:8px;background:#F9FAFB}
.rs-picker-select-menu-item:not(.rs-picker-select-menu-item-disabled):hover,.rs-picker-select-menu-item.rs-picker-select-menu-item-focus{background:#F9FAFB}
.rs-picker-select-menu-item.rs-picker-select-menu-item-active,.rs-picker-select-menu-item.rs-picker-select-menu-item-active:hover{color:#212121}
.rs-picker-default .rs-picker-toggle.rs-btn .rs-picker-toggle-caret,.rs-picker-default .rs-picker-toggle.rs-btn .rs-picker-toggle-clean{top:9px;font-size:17px}
.ant-picker,.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {border-color: #C8D6E5;border-radius: 4px;width: 100%;}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {background: #F9FAFB;}
#root,body{background:#f0f3f6}
h1{font-weight:700;font-size:56px;line-height:1.3;margin:0 0 16px}
.sc1{text-align:center;padding:104px 0 56px}
.sc1 p{font-size:24px;line-height:1.667}
.ib{padding:0 0 135px}
.ib_box{background:#FFF;border:1px solid #8395A7;box-shadow:0 10px 30px rgba(91,106,122,0.1);border-radius:8px;max-width:1016px;margin:auto}
.ib_top{padding:14px 16px;border-bottom:1px solid #C8D6E5}
.ib_top .input,.ib_top span{display:inline-block;margin:0 7px}
.ib_top .input-calendar span{margin: 0}
.ib_top .input-calendar + span{margin-left:24px}
.ib_section{padding:0 48px}
.ib hr{margin:48px;border-color:#C8D6E5}
.ib_head{padding-top:48px}
.ib_head h2{font-weight:700;font-size:56px;line-height:72px;margin:0;text-align:right}
.ib_currency{padding-top:32px;padding-bottom:16px}
.ib_items [class*="col-"]{padding:8px}
.ib_items .row{margin-left:0;margin-right:0}
.ib_items [class*="col-"]:last-child{text-align:right}
.ib_items_head{font-weight:500}
.ib_item{position:relative;background:#F9FAFB;border-radius:4px;margin:0 0 16px;padding:0 0 8px}
.ib_item .form-control + .form-control,.ib_item .form-control + .input-group{margin-top:8px}
.ib_desc{position:relative}
.ib_desc_delete{position:absolute;right:4px;top:4px;cursor:pointer;transition:all .5s}
.ib_desc_delete:hover{transform:scale(1.2)}
.ib_desc .form-control{padding-right:30px}
.ib_td{margin-top:4px}
.ib_tax,.ib_disc,.ib_dropdown,.ib_taxs{display:inline-block!important;margin:2px 4px;vertical-align:middle}
.ib_dropdown .dropdown-toggle{padding:4px 32px 4px 8px;font-size:12px;line-height:16px;background:#FFF;border:1px solid #C8D6E5;box-shadow:0 1px 0 #C8D6E5;border-radius:2px;position:relative}
.ib_dropdown .dropdown-menu{padding:8px 8px 16px;background:#FFF;border:1px solid #E2E2E2;box-shadow:0 2px 4px rgba(119,119,119,0.1),0 4px 8px rgba(119,119,119,0.2);border-radius:4px;min-width:288px;margin:10px 0 0}
.ib_taxs{background:#FFF;border:1px solid #C8D6E5;box-shadow:0 1px 0 #C8D6E5;border-radius:2px;line-height:16px;font-size:12px}
.ib_taxs_item{background:#eee;padding:4px;border:1px solid #C8D6E5;margin:2px;display:inline-block}
.ib_taxs_item.white{background:none;border:none}
.ib_taxs_item + .ib_taxs_item{margin-left:4px}
.ib-col{display:inline-block}
img.ib_tax_delete{display:inline-block;margin-right:4px;cursor:pointer;position:relative;top:-3px}
.ib_delete{position:absolute;top:40px;right:-24px}
.ib_foot{padding-bottom:100px}
.ib_foot_detail > .row:not(:last-child){margin-bottom:12px}
.ib_foot hr{margin:16px 0}
.ib_foot_discbox{position:relative;width: 220px}
.ib_foot_disctgl{position:absolute;top:1px;right:1px;height:38px;background:#eee;padding:6px 4px}
.ib_foot_discbox span{display:inline-block;background:#fff;margin:0 2px;min-width:25px;text-align:center;line-height:25px;border-radius:4px;box-shadow:0 1px 1px rgba(74,85,104,.2);cursor:pointer;padding: 0 4px;}
.ib_foot_discbox span.active{background:#341F97;color:#fff}
img.ib_foot_discdel{position:absolute;cursor:pointer;top:8px;right:-24px}
.ib_action{max-width:1016px;margin:48px auto 0;text-align:right}
.ib_action .btn + .btn{margin-left:12px}
.preview .ib_top{padding:24px 48px 24px 16px}
.preview .uploader{border:none}
.preview .ib_items_head{background:#F9FAFB}
.preview .ib_item{background:#fff;border-bottom:1px solid #C8D6E5}
.txt-grey{color:#8395A7;font-size:12px}
.txt-semibold{font-weight:500;}
.modal-content{padding:40px 32px}
.modal-heading{font-size:28px;text-align:center;font-weight:500;margin:0 0 40px}
a.modal-close{cursor:pointer;position:absolute;top:20px;right:20px}
a.modal-close:hover{transform:scale(1.2)}
@media(min-width: 992px){
    .ib_topc{display: inline-block;}
    .ib_topc + .ib_topc{margin-left: 24px;}
}
@media(max-width: 991px){
    .ib_topc + .ib_topc{margin-top: 8px;}
}
@media(min-width: 768px) {
.sc1 .container{max-width:776px}
.view-xs{display:none}
.ib_addr .col-md-6{padding:0 2.5%}
.ib_addr .row{margin:0 -2.5%}
.ib_action {display: flex;justify-content: space-between;text-align: left;}
}
@media(max-width: 767px) {
h1{font-size:32px}
html,body,#root{font-size:13px}
.hidden-xs{display:none}
.rs-picker-toggle{font-size:13px}
.input-calendar{width:100%}
.input-calendar:not(:last-child){margin:0 0 8px}
.sc1{padding:70px 0 40px}
.sc1 p{font-size:16px}
.uploader{height:130px}
.ib hr{margin:24px}
.ib_top{padding:10px 8px}
.ib_top .input,.ib_top span{margin:0 3px}
.ib_top .row{margin:0 -8px}
.ib_top [class*="col-"]{padding:0 8px}
.ib_top .text-right{text-align:left!important}
.ib_top .text-right span{display:block;margin:0}
.form-control.w72{width:50px}
.ib_section{padding-left:24px;padding-right:24px}
.ib_head{padding-top:24px}
.ib_head h2{font-size:32px}
/*.ib_tax,.ib_disc,.ib_dropdown,.ib_taxs{display:block!important}*/
.ib_tax > span,.ib_disc > span{display:inline-block;vertical-align:top;line-height:30px}
.ib_td{margin: 0}
.ib-col{display:inline-block;width:calc(100% - 26px)}
.ib_taxs{margin-bottom:8px}
.ib_disc .ib-col{width:auto;max-width:none}
.ib_foot_detail{margin-top:16px}
.preview .ib_top{padding:24px 16px}
.preview .ib_top .text-right{text-align:right!important}
.preview .uploader_img{top:0;left:0;width:100%;height:100%}
.modal-content{padding:40px 16px}
.ib_foot hr{margin:24px 0}
.ib_items [class*="col-"]{padding:8px 4px}
.ib_action .btn{width:100%;margin:0 0 8px!important}
.ib{padding:0 0 64px}
.ib_top .input, .ib_top span{display: block}
}

.ant-layout-header{box-shadow: 0 1px 4px rgba(0,21,41,.08);}

.ant-layout-logo {padding: 32px 12px;text-align: center;}

.anticon:not(.ant-input-password-icon) {position: relative;top: -5px;}
.ant-picker .anticon{top: 0}
.stat-row{margin-bottom: 24px;}
.ant-layout-content{margin: 24px;min-height: calc(100vh - 183px);}
.section{padding: 24px;background: #fff}
.section:not(:last-child){margin-bottom: 24px}
.dashboard-page{max-width: 1170px;}
.ant-card-body .ant-typography{margin: 0}
.ant-skeleton-content .ant-skeleton-title{margin-top: 8px}
.ant-card-body .ant-card-actions{margin: 16px -24px -24px;padding: 5px 24px;}
.ant-card-body .ant-card-actions a {color: #1890ff;}
text.highcharts-axis-title { font-weight: bold; font-size: 18px; -webkit-transform: translate(0, 10px); transform: translate(0, 10px); }
.custom-tooltip { color: #ffffff; background: #000; font-size: 13px; line-height: 15px; border-radius: 4px; padding: 4px; }

.custom-tooltip b { font-size: 21px; line-height: 30px; font-weight: bold; }
.chart-title {display: flex;justify-content: space-between;}
.page-loading.full{height: 100vh;}
.page-loading.chart{min-height: 488px;}
.page-loading.chart.small{min-height: 300px;}
.chart-small div[data-highcharts-chart]{height: 300px;}
.admin-page{min-width: 1200px;position: relative;}
.header-right {text-align: right;padding: 0 24px;}

a.ant-dropdown-trigger.user-dropdown {display: inline-block;color: #212121;}

a.ant-dropdown-trigger.user-dropdown .ant-avatar {margin-right: 12px;}

.ant-select .ant-select-arrow{top: 67%}

a.ant-dropdown-trigger.user-dropdown span {
    display: inline-block;
    vertical-align: middle;
}
a.ant-dropdown-trigger.user-dropdown span.anticon {
    position: relative;
    top: -1px;
    margin-left: 8px;
}
@media(max-width: 1200px){
    .admin-page .ant-layout-sider{position: absolute !important;}
}

.login-page { padding: 0; }

.login-page .account-bg { background-color: #F7F9FA; min-height: 100vh; padding: 60px 0; -ms-flex-align: center; align-items: center; display: -ms-flexbox; display: flex; display: -webkit-flex; -webkit-align-items: center; -webkit-box-align: center; -webkit-box-pack: center; box-align: center; }

.login-page .account-bg .account-wrap { margin: auto; width: 400px; text-align: center; }

.login-page .account-bg .account-wrap .logo { margin: 0 0 20px; }

.login-page .account-bg .account-wrap .logo img { max-height: 100px; }

.login-page .account-bg .account-wrap .box { background: #fff; box-shadow: 0 0 0 1px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15); padding: 60px; border-radius: 5px; text-align: left; }

.login-page .account-bg .account-wrap .forgot { margin-top: -10px; }

.login-page .account-bg .account-wrap .btn { width: 100%; }

.login-page .account-bg .account-wrap .form-action { margin: 20px 0 0; }

.login-page .account-bg .account-wrap .form-action.col-2 .btn { width: auto; }

.login-page .account-bg .account-wrap .form-action.col-2 .btn + .btn { margin-left: 10px; }

.alert.alert-warning, .alert.alert-danger { background: #f03f54; color: #fff; }

.alert.alert-warning .close, .alert.alert-danger .close { color: #fff; opacity: 1; }
